<script src="https://giscus.app/client.js"
        data-repo="SuperMo0/ai-engineering-curriculum"
        data-repo-id="R_kgDOTEAY7Q"
        data-category="Project Showcase"
        data-category-id="DIC_kwDOTEAY7c4C_08j"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
